<!DOCTYPE html>
<html>
<head>
  <title>minblog</title>
  <style type="text/css">
    body{
      color:#555;
      padding:10px;
      padding-top:40px;
      max-width: 720px;
      margin: 0 auto;
      position: relative;
    }
    a{
      color: #001234;
      font-weight: bolder;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <a href="/" style="position: absolute; top:10px;left: 10px;">minblog</a>
  <hr style="border:none; border-top:1px solid #eee" />
  <%- body %>
</body>
</html>