<!DOCTYPE html>
<html>
<head>
  <title>minblog</title>
  <style type="text/css">
    body{
      color:#555;
      padding:10px;
      padding-top:50px;
    }
    a{
      color: #001234;
      font-weight: bolder;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <a href="/" style="position: fixed; top:10px;left: 10px;">minblog</a>
  <%- body %>
</body>
</html>